<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BookMarx</title>
  <meta name="description" content="The Home Page of BookMarx">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/img/favicon.ico">

  <link rel="stylesheet" href="css/style.css">
  <script src="/js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  <script  type="text/babel" src="js/components/list.react.js"></script>
</head>

<body>
  <div id="maincontainer">
  </div>

</body>
</html>
