<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BookMarx</title>
  <meta name="description" content="The Home Page of BookMarx">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/img/favicon.ico">

  <link rel="stylesheet" href="css/style.css">
  <script src="/js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  <script  type="text/babel" src="js/listreact.js"></script>
</head>

<body>
  <nav>
    <ul class="nav-title">
      <li><a href="index.html">BookMarx</a></li>
    </ul>

    <div class="searchContainer">
      <div class="folderSearchBar">
        <form action="/bookmarx/search" method="GET">
        <input type="text" name="search" placeholder="Search" value="<%= search %>"/>
        <select name="ordering">
          <option value="asc" <% if (ordering === 'asc') {%> selected <%} %>>A-Z</option>
          <option value="desc" <% if (ordering === 'desc') {%> selected <%} %>>Z-A</option>
        </select>
          <input type="submit" value="Find">
      </form>
      </div>
    </div>
    <ul class="navbar-right">
      <li class="navbar-hide"><a href="/bookmarx/add" class="tooltip"><img src="/img/ic_bookmark_white_48dp_2x.png" alt="bookmark"><span class="tooltiptext">Add a BookMarx</span></a></li>
      <li class="navbar-hide"><a href="/bookmarx/addfolder" class="tooltip"><img src="/img/ic_create_new_folder_white_48dp_2x.png" alt="folder"><span class="tooltiptext">Add a Folder</span></a></li>
      <li class="navbar-hide"><a href="/bookmarx/settings" class="tooltip"><img class="cog" src="/img/ic_settings_white_48dp_2x.png" alt="bookmark"><span class="tooltiptext">Settings</span></a></li>
      <li><a class="tooltip" href="/logout"><img src="/img/ic_exit_to_app_white_48dp_2x.png" alt="settings"><span class="tooltiptext" >Logout</span></a></li>
    </ul>
  </nav>

  <div class="container">
    <section class="side-nav-container desktopView">
      <h2>Quicklinks</h2>
      <ul>
        <li class="side-nav-divider"></li>
        <li><a href="/bookmarx">My BookMarx</a></li>
        <li><a href="/bookmarx/mostvisited">Most Visited</a></li>
        <li><a href="/bookmarx/favorites">Favorites</a></li>
      </ul>
    </section>
    <section class="slide-container">
      <div id="folderContainer" class="slide desktopView">

      </div>
      <div class="slide mobileView">
        <div id="searchcontainer-react" class="column- folderContainer">

        </div>
      </div>
    </section>

    <section class="right-container">
      <div class="slide">
        <div id="bookmarklist" class="folderContent">
        </div>
      </div>
    </section>
  </div>

  <div class="overlayContainer">
    <a class="fab" href="/bookmarx/add"><img src="/img/ic_add_white_48dp_2x.png" alt="plus"></a>
  </div>

  <nav class="nav-mobile mobileView">
    <ul class="mobileView">
      <li><a href="/bookmarx/favorites"><img src="/img/ic_star_white_48dp_2x.png" alt="favorite"></a></li>
      <li><a href="/bookmarx/mostvisited"><img src="/img/ic_pets_white_48dp_2x.png" alt="mostvisited"></a></li>
      <li class="active"><a href="/bookmarx"><img src="/img/ic_home_white_48dp_2x.png" alt="home"></a></li>
      <li><a href="/bookmarx/addfolder"><img src="/img/ic_create_new_folder_white_48dp_2x.png" alt="addfolder"></a></li>
      <li><a href="/bookmarx/settings"><img src="/img/ic_settings_white_48dp_2x.png" alt="settings"></a></li>
    </ul>
  </nav>

</body>

</html>
