body {
  background-color: #80dfff;
  color: #ffffff;
  font: 100% "Lato" , sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

h1 {
  padding-top:20%;
}

#left { 
  position: absolute; left: 10%; top: 9%; width: 30%; 
}

#right { 
  position: absolute; right: 26%; top: 17%; width: 30%; 
}