<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 Page Not Found</title>
	<link rel="stylesheet" href="/css/style.css"/>
	<link rel="icon" href="/img/favicon.ico">
</head>
<body id="ErrorBody">
	<div id='left'>
		<img src='/img/catline.png' alt="Cat Pic">
	</div>
	<div id='right'>
		<h1 id="errorH1">
			404
			<br>
			O.O Sorry
		</h1>
		<a href="/bookmarx" class="boxButton cancelButton">Home</a>
	</div>
</body>
</html>