<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Create New BookMarx</title>
  <meta name="description" content="Create a BookMarx">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/imgs/tp.png">

  <script src="/js/jquery.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="black-background">
  <nav>
    <ul>
      <li><a href="/bookmarx">BookMarx</a></li>
    </ul>
  </nav>
  <section class="slide">
    <div class="formcontainer column-40">
      <a class="form_backbutton" href="/bookmarx"><img src="/img/ic_arrow_back_black_48dp_2x.png"></a>
      <form action="/bookmarx/add" onsubmit="return validateAddBookmark()" method="POST">
        <h1>Create New BookMarx</h1>
        <div class="inputgroup">
          <input type="text" name="title" autofocus required/>
          <span class="bar"></span>
          <label>Title</label>
          <span class="errMsg hide" id="title_errlabel">Please add a title</label>
        </div>
        <div class="inputgroup">
          <input type="text" name="url" required/>
          <span class="bar"></span>
          <label>URL</label>
          <span class="errMsg hide" id="url_errlabel">Please add a URL</label>
        </div>
        <div class="inputgroup">
          <input type="text" name="desc" required/>
          <span class="bar"></span>
          <label>Description</label>
          <span class="errMsg hide" id="descr_errlabel">Please add a description</label>
        </div>
        <div class="inputgroup">
          <input type="text" name="keywords" required/>
          <span class="bar"></span>
          <label>Keywords</label>
          <span class="errMsg hide" id="keywords_errlabel">Please add keywords</label>
        </div>
        <div class="labelgroup">
          <label>Folder</label>
        </div>
        <div class="inputgroup">
          <select name="folder">
            <% foldersList.forEach(function(folder) { %>
              <option value="<%= folder.id %>"><%= folder.name %></option>
            <% });%>
          </select>
        </div>
        <div class="inputgroup">
          <input type='submit' class="boxButton okayButton" value="Save">
          <a type='button' class="boxButton cancelButton" href="/bookmarx">Cancel</a>
        </div>
      </form>
    </div>
  </section>

  <nav class="nav-mobile mobileView">
    <ul class="mobileView">
      <li class="active"><a href="/bookmarx/add"><img src="/img/ic_bookmark_border_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx/addfolder"><img src="/img/ic_create_new_folder_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx"><img src="/img/ic_home_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx/settings"><img src="/img/ic_settings_white_48dp_2x.png"></a></li>
      <li><a href="/logout"><img src="/img/ic_exit_to_app_white_48dp_2x.png"></a></li>
    </ul>
  </nav>

<script>
  function validateTitle() {
    var username =$('.inputgroup').find('input[name="title"]').val();
    if (!username || !username.trim()) {
      $('#title_errlabel').removeClass('hide');
      return false;
    }
    $('#title_errlabel').addClass('hide');
    return true;
  }
  function validateURL() {
    var url =$('.inputgroup').find('input[name="url"]').val();
    if (!url || !url.trim()) {
      $('#url_errlabel').removeClass('hide');
      return false;
    }
    $('#url_errlabel').addClass('hide');
    return true;
  }
  function validateDescription() {
    var descr =$('.inputgroup').find('input[name="desc"]').val();
    if (!descr || !descr.trim()) {
      $('#descr_errlabel').removeClass('hide');
      return false;
    }
      $('#descr_errlabel').addClass('hide');
    return true;
  }
  function validateKeywords() {
    var keywords =$('.inputgroup').find('input[name="keywords"]').val();
    if (!keywords || !keywords.trim()) {
      $('#keywords_errlabel').removeClass('hide');
      return false;
    }
      $('#keywords_errlabel').addClass('hide');
    return true;
  }

  function validateAddBookmark() {
      var isValidTitle = validateTitle();
      var isValidURL = validateURL();
      var isValidDescr = validateDescription();
      var isValidKeywords = validateKeywords();
      //var isValidTitle = validateTitle();
      return isValidTitle && isValidURL && isValidDescr && isValidKeywords;
  }
</script>

</body>
</html>
