<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Add Folder</title>
  <meta name="description" content="Bookmarx">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="imgs/tp.png">

  <link rel="stylesheet" href="css/style.css">
</head>

<body class="black-background">
  <nav>
    <ul>
      <li><a href="index.html">BookMarx</a></li>
    </ul>
  </nav>
  <section class="slide">
    <div class="formcontainer column-40">
      <form action="/bookmarx/addfolder" method="POST">
        <h1>Add Folder</h1>
        <div class="inputgroup">
          <input type="text" autofocus required/>
          <span class="bar"></span>
          <label>Title</label>
        </div>
        <div class="inputgroup actionContainer">
          <a href='button' class="boxButton okayButton">Create</a>
          <a href='button' class="boxButton cancelButton">Cancel</a>
        </div>
      </form>
    </div>
  </section>

</body>
</html>
