<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Add Folder</title>
  <meta name="description" content="Bookmarx">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/imgs/tp.png">
  <script src="/js/jquery.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="black-background">
  <nav>
    <ul>
      <li><a href="/index.html">BookMarx</a></li>
    </ul>
  </nav>
  <section class="slide">
    <div class="formcontainer column-40">
      <a class="form_backbutton" href="/bookmarx"><img src="/img/ic_arrow_back_black_48dp_2x.png"></a>
      <form action="/bookmarx/addfolder" onsubmit="return validateAddFolder()" method="POST">
        <h1>Add Folder</h1>
        <div class="inputgroup">
          <input type="text" name="folder_title" autofocus required/>
          <span class="bar"></span>
          <label>Title</label>
          <span class="errMsg hide" id="folder_errlabel">Please enter a folder name</label>
        </div>
        <div class="inputgroup actionContainer">
          <input type="submit" class="boxButton okayButton" values="Create">
          <a href='/bookmarx' class="boxButton cancelButton">Cancel</a>
        </div>
      </form>
    </div>
  </section>
  <nav class="nav-mobile mobileView">
    <ul class="mobileView">
      <li><a href="/bookmarx/add"><img src="/img/ic_bookmark_border_white_48dp_2x.png"></a></li>
      <li class="active"><a href="/bookmarx/addfolder"><img src="/img/ic_create_new_folder_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx"><img src="/img/ic_home_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx/settings"><img src="/img/ic_settings_white_48dp_2x.png"></a></li>
      <li><a href="/logout"><img src="/img/ic_exit_to_app_white_48dp_2x.png"></a></li>
    </ul>
  </nav>

<script>
  function validateFolderName() {
    var folder =$('.inputgroup').find('input[name="folder_title"]').val();
    if (!folder || !folder.trim()) {
      $('#folder_errlabel').removeClass('hide');
      return false;
    }
      $('#folder_errlabel').addClass('hide');
    return true;
  }
  function validateAddFolder() {
    return validateFolderName();
  }
</script>
</body>
</html>
