<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Edit Folder</title>
  <meta name="description" content="Bookmarx">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/imgs/tp.png">

  <link rel="stylesheet" href="/css/style.css">

</head>

<body class="black-background">
  <nav>
    <ul>
      <li><a href="index.html">BookMarx</a></li>
    </ul>
  </nav>
  <section class="slide">
    <div class="formcontainer column-40">
      <form action="/bookmarx/updatefolder/<%= folder_id %>" method="POST">
        <h1>Edit <%= bookmarx.name %></h1>
        <div class="inputgroup">
          <input type="text" name="newname" value="<%= bookmarx.name %>" required/>
          <span class="bar"></span>
          <label>Title</label>
        </div>

        <div class="inputgroup actionContainer">
          <input type="submit" class="boxButton okayButton" value="Save">
          <a class="boxButton cancelButton" href="/bookmarx">Cancel</a>
        </div>
      </form>

      <form action="/bookmarx/deletefolder/<%= folder_id %>" method="POST">
        <div class="inputgroup actionContainer">
          <input type="submit" class="boxButton deleteButton" value="Delete">
        </div>
      </form>

      </form>
    </div>
  </section>

</body>
</html>
