<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Settings</title>
	<meta name="description" content="Bookmarx">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/imgs/tp.png">
  <script src="/js/jquery.js"></script>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body class="black-background">
  <nav>
    <ul>
      <li><a href="/index.html">BookMarx</a></li>
    </ul>
  </nav>
  <section class="slide">
		<div class="formcontainer column-40">
			<h1>Settings</h1>

			<div class="settinggroup">
				<h2>Change Password</h2>
				<form action="updatepassword" method="POST">
					<div class="inputgroup">
						<input type="text" name="oldPassword"  autofocus required/>
						<span class="bar"></span>
						<label>Original Password</label>
          	<span class="errMsg hide" id="originalpwd_errlabel">Please input a password</label>
					</div>
					<div class="inputgroup">
						<input type="text" name="newPassword" required/>
						<span class="bar"></span>
						<label>New Password</label>
          	<span class="errMsg hide" id="newpwd_errlabel">Please input new password</label>
					</div>
					<div class="inputgroup">
						<input type="text" name="reNewPassword" required/>
						<span class="bar"></span>
						<label>Confirm New Password</label>
          	<span class="errMsg hide" id="renewpwd_errlabel">Please confirm new password</label>
					</div>
					<div class="inputgroup">
						<input type="submit" class="boxButton okayButton" value="Change Password"/>
					</div>
				</form>
		</div>
  </section>

  </body>
</html>
