<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Settings</title>
	<meta name="description" content="Bookmarx">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/imgs/tp.png">
  <script src="/js/jquery.js"></script>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body class="black-background">
	<nav>
    <ul class="nav-title">
      <li><a href="index.html">BookMarx</a></li>
    </ul>
    <ul class="navbar-right">
      <li class="navbar-hide"><a href="/bookmarx/add" class="tooltip"><img src="/img/ic_bookmark_white_48dp_2x.png" alt="bookmark"><span class="tooltiptext">Add a BookMarx</span></a></li>
      <li class="navbar-hide"><a href="/bookmarx/addfolder" class="tooltip"><img src="/img/ic_create_new_folder_white_48dp_2x.png" alt="folder"><span class="tooltiptext">Add a Folder</span></a></li>
      <!--li class="navbar-hide"><a href="/bookmarx/export" class="tooltip"><img src="/img/ic_import_export_white_48dp_2x.png" alt="bookmark"><span class="tooltiptext">Import/Export BookMarx</span></a></li-->
      <li class="navbar-hide"><a href="/bookmarx/settings" class="tooltip"><img class="cog" src="/img/ic_settings_white_48dp_2x.png" alt="bookmark"><span class="tooltiptext">Settings</span></a></li>
      <li><a class="tooltip" href="/logout"><img src="/img/ic_exit_to_app_white_48dp_2x.png" alt="settings"><span class="tooltiptext" >Logout</span></a></li>
    </ul>
  </nav>
  <section class="slide">
		<div class="formcontainer column-40">
			<h1>Settings</h1>
      <a class="form_backbutton" href="/bookmarx"><img src="/img/ic_arrow_back_black_48dp_2x.png"></a>
			<div class="settinggroup">
				<h2>Change Password</h2>
				<form action="updatepassword" onsubmit="return validateUpdatePwd()" method="POST">
					<div class="inputgroup">
						<input type="password" name="oldPassword"  autofocus required/>
						<span class="bar"></span>
						<label>Original Password</label>
          	<span class="errMsg hide" id="originalpwd_errlabel">Please input a password</span>
					</div>
					<div class="inputgroup">
						<input type="password" name="newPassword" required/>
						<span class="bar"></span>
						<label>New Password</label>
          	<span class="errMsg hide" id="newpwd_errlabel">Please input new password</span>
					</div>
					<div class="inputgroup">
						<input type="password" name="reNewPassword" required/>
						<span class="bar"></span>
						<label>Confirm New Password</label>
          	<span class="errMsg hide" id="renewpwd_errlabel">Please confirm new password</span>
					</div>
					<div class="inputgroup">
						<input type="submit" class="boxButton okayButton" value="Change Password"/>
					</div>
				</form>
			</div>
			<div class="settinggroup">
				<h2>Import/Export Bookmarks</h2>
        <!-- <form action="import" method="POST" type="multipart/form-data">
					<div class="inputgroup">
						<input type='file' name='fileUploaded' accept=".json">
						<input type="submit" class="boxButton okayButton" value="Import Bookmarks"/>
					</div>
				</form> -->
				<form action="import" method="POST">
					<div class="inputgroup">
						Please copy paste contents of backup into:
						<input type="text" name="bookmarksJsonText">
						<input type="submit" class="boxButton okayButton" value="Import Bookmarks"/>
					</div>
				</form>
				<form >
					<div class="inputgroup">
						<a type="submit" class="boxButton cancelButton" href="/bookmarx/export">Export Bookmarks</a>
					</div>
				</form>
			</div>
		</div>
  </section>
	<nav class="nav-mobile mobileView">
    <ul class="mobileView">
      <li class="active"><a href="/bookmarx/favorites"><img src="/img/ic_star_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx/mostvisited"><img src="/img/ic_pets_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx"><img src="/img/ic_home_white_48dp_2x.png"></a></li>
      <li><a href="/bookmarx/addfolder"><img src="/img/ic_create_new_folder_white_48dp_2x.png"></a></li>
      <li class="active"><a href="/bookmarx/settings"><img src="/img/ic_settings_white_48dp_2x.png"></a></li>
    </ul>
  </nav>

	<script>
	  function validateOGPwd() {
	    var folder =$('.inputgroup').find('input[name="oldPassword"]').val();
	    if (!folder || !folder.trim()) {
	      $('#originalpwd_errlabel').removeClass('hide');
	      return false;
	    }
	      $('#originalpwd_errlabel').addClass('hide');
	    return true;
	  }
		function validateNewPwd() {
	    var newpwd =$('.inputgroup').find('input[name="newPassword"]').val();
	    if (!newpwd || !newpwd.trim()) {
	      $('#newpwd_errlabel').removeClass('hide');
				$('#newpwd_errlabel').text('Please input a password');
	      return false;
	    }

      $('#newpwd_errlabel').addClass('hide');
			var repwd =$('.inputgroup').find('input[name="reNewPassword"]').val();
	    if (!repwd || !repwd.trim()) {
	      $('#renewpwd_errlabel').removeClass('hide');
	      return false;
	    }
			$('#renewpwd_errlabel').addClass('hide');
			if (newpwd != repwd) {
				$('#newpwd_errlabel').removeClass('hide');
				$('#newpwd_errlabel').text('Your Passwords do not match');
				return false;
			}

	    return true;
	  }

	  function validateUpdatePwd() {
			var isValidPwd = validateOGPwd();
			var isValidNewPwd = validateNewPwd();
	    return isValidPwd && isValidNewPwd;
	  }

	</script>
  </body>
</html>
