<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login</title>
  <meta name="description" content="The Team Page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="imgs/tp.png">
  <script src="js/jquery.js"></script>
  <link rel="stylesheet" href="css/style.css">

</head>


<body class="black-background">

  <nav>
    <ul>
      <li><a href="index.html">BookMarx</a></li>
    </ul>
  </nav>
  <section class="slide">
    <div class="formcontainer column-40">
      <form action="/login" method="POST" onsubmit="return validateLogin()" autocomplete="off">
        <h1>Login</h1>
        <% if (errmsg){ %>
        <% if (errmsg.hasError) {%>
        <div class="inputgroup">
          <span class="errMsg"><%=  errmsg.message%></span>
        </div>
        <%}%>
        <%}%>
        <div class="inputgroup">
          <input type="text" name="username" autofocus required/>
          <span class="bar"></span>
          <label>Username</label>
          <span class="errMsg hide" id="username_errlabel">Please input a username</label>
        </div>
        <div class="inputgroup">
          <input type="password" name="pass" required/>
          <span class="bar"></span>
          <label>Password</label>
          <span class="errMsg hide" id="pwd_errlabel">Please input a password</label>
        </div>
        <div class="inputgroup">
          <input type="submit" class="boxButton okayButton" value="Login">
          <a type='button' class="boxButton cancelButton" href="/signup">Signup</a>
        </div>
      </form>
    </div>
  </section>
  <script>
    function validateUsername() {
      var username =$('.inputgroup').find('input[name="username"]').val();
      if (!username || !username.trim()) {
        $('#username_errlabel').removeClass('hide');
        return false;
      }
        $('#username_errlabel').addClass('hide');
      return true;
    }
    function validatePassword() {
      var pwd =$('.inputgroup').find('input[name="pass"]').val();
      if (!pwd || !pwd.trim()) {
        $('#pwd_errlabel').removeClass('hide');
        return false;
      }
      $('#pwd_errlabel').addClass('hide');
      return true;
    }
    function validateLogin() {
      var isValidUsername = validateUsername();
      var isValidPwd = validatePassword();
      return  isValidUsername && isValidPwd;
    }


  </script>

</body>
</html>
