<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sign Up</title>
  <meta name="description" content="signup">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="imgs/tp.png">
  <script src="/js/jquery.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="black-background">
  <nav>
    <ul>
      <li><a href="index.html">BookMarx</a></li>
    </ul>
  </nav>
  <section class="slide">
    <div class="formcontainer column-40">
      <form action="" method="POST" onsubmit="return validateSignUp()" autocomplete="off">
        <h1>Sign Up</h1>
        <span class="errMsg hide" id="server_errlabel"></span>
        <% if (errmsg){%>
        <% if (errmsg.hasError) {%>
        <div class="inputgroup">
          <span class="errMsg"><%=  errmsg.message%></span>
        </div>
        <%}%><%}%>
        <div class="inputgroup">
          <input type="text" name="username" autofocus required/>
          <span class="bar"></span>
          <label>Username</label>
          <span class="errMsg hide" id="username_errlabel">Please input a username</span>
        </div>
        <div class="inputgroup">
          <input type="password" name="pass" required/>
          <span class="bar"></span>
          <label>Password</label>
          <span class="errMsg hide" id="pwd_errlabel">Please input a password</span>
        </div>
        <div class="inputgroup">
          <input type="password" name="repass" required/>
          <span class="bar"></span>
          <label>Reconfirm Password</label>
          <span class="errMsg hide" id="repwd_errlabel">Please confirm password</span>
        </div>
        <div class="inputgroup">
          <input type="submit" class="boxButton okayButton" value="Sign Up">
          <a class="boxButton cancelButton" href="/login">Login</a>
        </div>
      </form>
    </div>
  </section>
  <script>
    // localStorage.removeItem('myFolders');
    // localStorage.removeItem('curFolder');
    // localStorage.removeItem('curFolderName');
    function validateUsername() {
      var username =$('.inputgroup').find('input[name="username"]').val();
      if (!username || !username.trim()) {
        $('#username_errlabel').html("Please input a username");
        $('#username_errlabel').removeClass('hide');
        return false;
      }
      $('#username_errlabel').addClass('hide');
      return true;
    }
    function validatePassword() {
      var pwd =$('.inputgroup').find('input[name="pass"]').val();
      if (!pwd || !pwd.trim()) {
        $('#pwd_errlabel').removeClass('hide');
        $('#pwd_errlabel').text('Please input a password');
        return false;
      }
      $('#pwd_errlabel').addClass('hide');

      var repwd =$('.inputgroup').find('input[name="repass"]').val();
      if (!repwd || !repwd.trim()) {
        $('#repwd_errlabel').removeClass('hide');
        return false;
      }
      $('#repwd_errlabel').addClass('hide');
      if (pwd != repwd) {
        $('#pwd_errlabel').text('Your Passwords do not match');
        $('#pwd_errlabel').removeClass('hide');
        return false;
      }
      return true;
    }
    function validateSignUp() {
      var isValidUsername = validateUsername();
      var isValidPwd = validatePassword();
      return isValidUsername && isValidPwd;
    }
    $('form').submit(function(e) {
      e.preventDefault();

      $.ajax({
        type: 'POST',
        url: '/api/signup',
        data: $('form').serialize(),
        success: function(data, textstatus, request) {
         $.ajax({
          type: 'POST',
          url: '/api/login/',
          data: $('form').serialize(),
          success: function(data, textStatus, request){
            window.location = '/app/home';
          },
          //error handling
          error: function(data) {
            response = JSON.parse(data.responseText);

            $('#username_errlabel').removeClass('hide');
            $('#username_errlabel').html(response['msg']);
          }
          });
        },
        //error handling
        error: function(data) {
          response = JSON.parse(data.responseText);

          $('#username_errlabel').removeClass('hide');
          $('#username_errlabel').html(response['msg']);
        }
      });
    });

    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw-signup.js')
      .then(function(registration) {
        if(registration.installing) {
          console.log('Service worker installing');
        } else if(registration.waiting) {
          console.log('Service worker installed');
        } else if(registration.active) {
          console.log('Service worker active');
        }
      });
      navigator.serviceWorker.ready.then(function(registration) {
        console.log('Service Worker Ready');
      });
    }

  </script>
</body>
</html>
